<div class="main-cont">

</div>
<h3>Type two character names and seperate with comma. Do not add spaces after commas.</h3>
<form id="search_me" >
<input id="search" placeholder="Search" type="search" name="search"></input>
<input type="submit" value="Send">
</form>
