
<div class="file-container logs">
  <% @history.reverse.each do |time| %>

<p style="margin: 0px; font-size: 13px;"><%=  time %></p>

<% end %>
</div>
<!-- <span style="display:block" class="note"> -->

<!-- </span> -->
