<div class=" main-cont" id = 'howtoguide'>

  <br>
  <h3>Part 1 - Add new Unit DATA</h3>
<img class="" src="/images/howto/new_unit.jpg"/>
<br>
<p>_________________________________________</p>
<h3>Part 2 - Add new Unit DATA</h3>
<img class="" src="/images/howto/.jpg"/
<br>
<p>_________________________________________</p>
<h3>Part 3 - Upload images for new units/soulcards</h3>
<img class="" src="/images/howto/.jpg"/
<br>
<br>
<p>#########################################</p>
<br>
<br>
<h3>Modify UNIT in Reference list</h3> <em>This is to modify Notes, tiers, Displayed Names</em>
<img class="" src="/images/howto/edit_reference.jpg"/>
<br>
<p>_________________________________________</p>
<h3>Modify UNIT Skills</h3> <em>This is to modify Skills, image references, other attributes</em>
<img class="" src="/images/howto/edit_skills.jpg"/>
<br>
<p>_________________________________________</p>
<h3>Unit Edit list</h3>
<img class="" src="/images/howto/edit_list.jpg"/>
<br>
<p>_________________________________________</p>
<h3>SC Edit list</h3>
<img class="" src="/images/howto/soulcard_list.jpg"/>
<br>

<br>
<br>
<p>#########################################</p>
<br>
<br>
<h3>Add Soulcards</h3> <em>This is to modify Skills, image references, other attributes</em>
<img class="profile_imgs  " src="/images/howto/.jpg"/>
<br>
<p>_________________________________________</p>
<h3> - </h3>
<!-- <img class="" src="/images/howto/.jpg"/ -->
<br>
<p>_________________________________________</p>

</div>
