<!doctype html>
<html lang="en-US">
<head>
  <title>Ricemine(test)</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width"/>
  <script async src="https://www.google-analytics.com/analytics.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131352133-3"></script>
    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-131352133-3', 'auto');
      // Replace the following lines with the plugins you want to use.
      ga('require', 'cleanUrlTracker');
      ga('require', 'eventTracker');
      ga('require', 'outboundLinkTracker');
      ga('require', 'urlChangeTracker', {
          fieldsObj: {
          dimension1: 'virtual'
            }
      });
      ga('send', 'pageview', {
        dimension1: 'page load'
      });
    </script>
    <script src="/javascripts/autotrack.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script type="text/javascript" src="/javascripts/basics.js?v=0.5"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="/stylesheets/basics.css?v=0.4" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
        <div class="menu">
          <h2 ><a class="site-title" href="/">Ricemine(Test)</a></h2>
          <form id="paypal-form" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="M2DHK9NZA5SZW">
                    <label id="paypal-label" for="paypal">-Help keep site Ad Free-</label>
                    <input id="paypal-button" type="image" src="../../../images/paypaldonate.png" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button">
                    <img alt="" border="0" src="../../../images/paypal-donate.png" width="1" height="1">
                </form>
            <ul class="nav justify-content-center">
              <li class="nav-item dropdown">
                <a class="nav-link"  href="/tiers/5" role="button" aria-haspopup="true" aria-expanded="false">TIERS</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link"  href="/sort/5/date" role="button" aria-haspopup="true" aria-expanded="false">TYPES</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link"  href="/soulcards/5" role="button" aria-haspopup="true" aria-expanded="false">SOULCARDS</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link offsite-link"  href="https://discord.gg/wDdq7C8" role="button" aria-haspopup="true" aria-expanded="false">Discord Channel</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link offsite-link"  href="#" role="button" aria-haspopup="true" aria-expanded="false">Wiki(Global)</a>
              </li>
            <li><a href="/compare"><i class="fa fa-paper-plane-o"></i>COMPARE</a></li>
              <% if user_signed_in? %>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin files</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="/new/unit_new">Add new Child</a>
                    <a class="dropdown-item" href="/new/equips/new_sc">Add new Soul Card</a>
                    <a class="dropdown-item" href="/unit_edit_list">Edit Unit List</a>
                    <a class="dropdown-item" href="/sc_edit_list">Edit SC List</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/unit_details_get">Get yml details</a>
                    <a class="dropdown-item" href="/log/search">Search logs</a>
                    <a class="dropdown-item" href="/log/history">Update logs</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/files/full">Show Full-size image</a>
                    <a class="dropdown-item" href="/files/unit">Show Unit image</a>
                    <a class="dropdown-item" href="/files/soulcards">Show SoulCard image</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/upload_file">Upload images/files</a>
                  </div>
                </li>
              <% end %>
            </ul>
            <button id="search-button" type="button" name="button" onclick="showSearch()">Search</button>
          <form id="main_search" action="/search-results/">
          <div class="search-bar-bg-off">
            <input class="unit-skills" name="skills" type="checkbox" value="skills">Skills:</input>
            <input id="search2" placeholder="Search" type="search2" name="search2"></input>
            <button type="submit">Search</button>
          </div>
          </form>
        </div>
    </header>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <section class="popper">

    </section>
      <main>
        <% if session[:message] %>
          <p class="message"><%= session.delete(:message) %></p>
        <% end %>
        <div class="top-border "></div>

        <%== yield %>
        <div class="bottom-border "></div>
      </main>
  </body>
</html>
