<!doctype html>
<html lang="en-US">
<head>
  <title>Ricemine(test)</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width"/>
  <link href="/stylesheets/basics.css" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/profiles-index.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <h2 ><a class="site-title" href="/">Ricemine(Test)</a></h2>
      <div "id="wrapper">
        <div class="menu">
          <h1>LEVEL</h1>
          <ul>
             <li><a href="/"><i class="fa fa-terminal"></i>HOME</a></li>
             <li><a href="/tiers/5"><i class="fa fa-codepen"></i>TIERS</a></li>
             <li><a href="/sort/5/date"><i class="fa fa-codepen"></i>SORT</a></li>
             <li><a href="/soulcards"><i class="fa fa-newspaper-o"></i>SOULCARDS</a></li>
             <% if session[:username]%>
             <li><a href="/new_unit"><i class="fa fa-newspaper-o"></i>NEW UNIT</a></li>
             <li><a href="/new_unit"><i class="fa fa-newspaper-o"></i>NEW SoulCard</a></li>
             <% end %>
             <li><a href="/compare"><i class="fa fa-paper-plane-o"></i>COMPARE</a></li>
             <li><a href="#contact"><i class="fa fa-paper-plane-o"></i>Wiki(other)</a></li>
          </ul>
        </div>
        <div class="content">
          <div class="menu-button">
            <div class="line first top"></div>
            <div class="line second bottom"></div>
          </div>
        </div>
      </div>
    </header>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <section class="popper">

    </section>
      <main>
        <div class="top-border "></div>

        <%== yield %>
        <div class="bottom-border "></div>
      </main>
	<script type="text/javascript" src="/javascripts/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="/javascripts/basics.js"></script>
  </body>
</html>
