
<div class="container-fluid">

  <div class="links_container">
    <h4>Useful links</h4>
    <div class="box_links one">
      <a class="box_link_anchor" href="https://discord.gg/wDdq7C8" target="_blank">Discord</a>
    </div>
    <div class="box_links two">
      <a class="box_link_anchor" href="https://github.com/BladeChiyu/DC/blob/main/locale.pck?raw=true" target="_blank">JP-EN locale.pck</a>
      <p>Upkept by Chiyu</p>
    </div>
    <br>
    <p style="font-size: 12px;text-align: -webkit-center;">Please consider donating to keep the site running</p>

  </div>
</div>
