
<form id="login" action="/signin" method="post">
  <div>
    <label for="username">Username:</label>
    <input name="username" id="username" value="<%= params[:username] %>"/>
  </div>
  <div>
    <label for="password">Password:</label>
    <input name="password" id="password"/>
  </div>
  <button type="submit">Sign in</button>
</form>



<form id="login" action="/logout" method="post">
<button type="submit">Sign out</button>
</form>
