/* @import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300); */

body{
  background-color:#28363D;
  /* font-family:"Roboto"; */
    font-family: sans-serif;
  color: #fff;
  margin: 0px;
  background-image: url(../images/stats/trans/trans_center.jpg);
  /* background-image: url(../images/stats/trans/trans_left.png); */

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
body:after{
  content: "";
  display: block;
  background-attachment: fixed;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -100;
    background-color: rgba(0, 0, 0, 0.65);
  }

h3,h6 {
  color: #f6d38f;
}


#login {
  padding-top: 100px;
}
/* mobile site */

.site-title {
  position:  fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  font-size: 1.5em;
  background: #212121;
  /* padding: 20px 20px 20px 65px; */
  padding: 20px 0px;
  margin: 0px 0 10px 0px;
  box-shadow: 0 0 10px #000;
  border-radius: 0px 0px 5px 0px;
  width: 100%;
  text-align: center;
}

.site-title, .site-title:hover {
    text-decoration: none;
    /* display: block; */
    font-size: 28px;
    font-weight: 600;
}

.site-title-active {
  color: #5d5c5c;
  font-size: 1.4em;
  box-shadow: none;
  position: fixed;
  transform: translateZ(0) translateX(0);
  transform: translateZ(0) translateX(0);
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #f6d38f; /* Set a background color */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  box-shadow: 0px 0px 10px black;
}
#myBtn:hover {
  background-color: #f6e38e;
  color: grey;
  padding: 12px; /* Some padding */
  bottom: 18px; /* Place the button at the bottom of the page */
  right: 18px;
   /* Add a dark-grey background on hover */
}

button {
  background-color: #988231;
  border: 1px solid #9e712d;
  outline: 0;
  -webkit-box-shadow: 0px 0px 5px black;
  box-shadow: 0px 0px 5px black;
  border-radius: 5px;
}
.exit-button2 {
	position: fixed;
    top: 15px;
    right: 10px;
    z-index: 2000;
    height: 30px;
    width: 30px;
}

.menu{
  position: fixed;
  top: 0;
  left: -10px;
  bottom: 0;
  z-index: 99;
  padding: 0;
  overflow: hidden;
  background: #212121;
  width: 250px;
  box-sizing: border-box;
  transition: all 250ms;
  -webkit-transform: translateZ(0) translateX(-100%);
  transform: translateZ(0) translateX(-100%);
  text-align:center;
  box-shadow: 0 0 10px #000;
}

.active{
  transform: translateZ(0) translateX(0);
  transform: translateZ(0) translateX(0);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* This minimizes the menu bar when scrolling down and maximize when scroll to top */
.menu-win-scroll {
  width: 65px;
  padding-left: 0px;
  padding-right: 0px;
  background: #212121;
  font-size: 0;
  height: 30px;
  transition: 0.4s;
  box-shadow: 0 0 10px #000;
}

h1{
  margin-top:150px;
}
ul{
  padding:0;
  list-style:none;
  font-size:14px;
  /* my added styles */
    /* width: 10%; */
       margin-left: 25%;
       width: 100%;
       text-align: left;
}
li{
  padding:7px 10px;
}
a{
  text-decoration:none;
  padding:10px 15px;
  color:#fff;
  /* font-family:"Roboto"; */
  font-size: 18px;
  font-weight: 300;
}
a:hover{
  text-decoration: line-through;
}

.content{
  /* position:relative; */
  max-width:400px;
}

.menu-button{
  position: fixed;
  top: 0px;
  z-index: 101;
  width: 50px;
  height: 50px;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}
.line{
	width: 40px;
	height: 2px;
  background-color:#abef05;
	transition: transform 0.3s ease, background 0.3s ease, opacity 0.3s ease, top 0.3s ease;
}
.line.first{
  transform: translateX(-10px) translateY(22px) rotate(-90deg);
}
.line.second{
  transform: translateX(-10px) translateY(19px) rotate(0deg);
}
.menu-button.on .line.top{
	width: 40px;
	transform: translateX(-10px) translateY(20px) rotate(45deg);
}
.menu-button.on .line.bottom{
	width: 40px;
	transform: translateX(-10px) translateY(17px)rotate(-45deg);
}


/***** HOME PAGE styling(unit index) *******/

.top-border {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
  height: 12%;
  width: 100vw;
  /* background-color: blue; */
  background-image: linear-gradient(180deg, #28363D 15%, transparent 100%);
}

.bottom-border {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 80;
  height: 10%;
  width: 100vw;
  /* background-color: blue; */
  background-image: linear-gradient(0deg, #28363D 10%, transparent 100%);
}

/* main site container */
.main-cont {
  margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 80px;
}

.home-cont {
  /* padding-top: 40px; */
    width: 100%;
    text-align: center;
    padding-top: inherit;
    padding-bottom: 80px;
}

.recent-update {
  padding-top: 10px;
font-size: 1.5em;
margin: 5px;
}

/* profile container inside main site container */
.unit-cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;    /* remove this if you don't want wrapping to happen when scrolling left->right instead of top>down */
  justify-content: center;    /* remove this if you don't want wrapping to happen when scrolling left->right instead of top>down */
  padding-top: 20px;
}


.sc-cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;    /* remove this if you don't want wrapping to happen when scrolling left->right instead of top>down */
  justify-content: center;

  height: auto;
    /* padding-bottom: 100px; */
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 20px;
}

.idx-unit-cont {
    padding-top: 0px;
}
.idx-sc-cont {
    /* padding-top: 110px; */
}

/* unit type icons container & pics */
.unit-type-cont {
  position: absolute;
  top: 135px;
  left: 5px;
  height: 25px;
}

.element-type-pic {
  max-width: 30px;
  width: 40%;
  padding-left: 0px;
  vertical-align: middle;
}

.profile_imgs {
  max-height: 166px;
}

img {
  vertical-align: middle;
  border-style: none;
}

.linkaddress {
  padding: 0px;
}

/* each unit content box in grid */
.unit-grid-cols {
  background-color: rgba(58, 58, 57, 1);
  position: relative;
  height: 210px;
  width: 60px;
  margin-top: 10px;
  margin-left: 3px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: 1px solid #985631;
    box-shadow: 0px 3px 15px #000000;
  border-radius: 15px;
  align-items: center;
}


.unit-profile-title {
    font-size: 11px;
    padding: 5px 2px 5px 2px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 0px;
    margin-top: 0px;
}

.edit-remove-buttons {
  position: absolute;
  top: 0px;
  width: 100%;
  text-align: center;
  background-color: rgba(69, 98, 124, 0.7);
}
.edit-remove-buttons a {
  padding: 5px;
  font-size: 1em;
}

.popper {
  /* display: flex; */
  visibility: hidden;
  height: 100vh;
  width: 100%;
  background-color: rgb( 0,0,0);
  position: fixed;
  z-index: 100;
  top: 0;
  overflow-y: auto;
}

/* table styling for soulcards */
th {
	background-color: grey;
	font-size: .9em;
}
th, td {
  padding: 5px;
}

.tt1 {
	border: 1px solid black;
}

/* table styling for soulcards END*/
/* table styling for new units */
form {
    width: 90vw;
    margin-left: 10px;
    /* padding-top: 90px;
    padding-bottom: 90px; */
    /* height: -webkit-fill-available; */
}

#search_me, #main_search {
    width: auto;
    /* margin-left: 10px; */
   text-align: center;
   /* margin-top: 50px; */
    padding-top: 100px;
}

input {
  max-width: 90vw;
}

.name-list ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px;
    padding-bottom: 80px;
    width: 100%;
}

.name-list li {
  font-size: 1.1em;
      color: #f6d38f;
      width: 15%;
      margin-left: auto;
      /* vertical-align: text-top; */
      display: flex;
      flex-direction: column;
}

input[type='checkbox'] {
    width:25px;
    height:25px;
    background: white;
    border-radius:5px;
    border:2px solid #555;
}

#sendbutton {
    position: fixed;
    bottom: 20px;
    right: 150px;
    z-index: 100;
    height: 40px;
    width: 50px;

    position: fixed;
    bottom: 20px;
    right: 100px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #008881;
    color: white;
    cursor: pointer;
    padding: 0px;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 0px 0px 10px #001c27;
}

dl {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
dd {
     overflow: hidden;
     margin: 0px 5px 0px 5px;
}
/* table styling for new units END*/
.pro-img-container {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

h2.item {
    background-color: #212121;
    width: 100%;
    text-align: center;
    box-shadow: 1px 1px 25px black;
}

.hide-list {
  display: none;
  height: 50px;
}


.pro-image-small {
  max-height: 200px;
  filter: drop-shadow(0px 0px 10px #ff38a6);
}

.pro-image-full {
    max-height: 300px;
    filter: drop-shadow(0px 0px 10px #ff38a6);
}

.mobile {
  visibility: collapse;
  height: 50px;
}

.hide {
  display: none;
}

.show {
  display: flex;

    visibility: unset;
  height: unset;
}

.pic-mobile {
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mainstats-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.profile-container {
padding-top: 30px;
    display: flex;
    flex-direction: column;
}

.sc-profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-profile-container {
  /* padding-bottom: 40px; */
  /* padding-top: 30px; */
  background-color: #595857;
  background-color: #101010;
  z-index: 90;
  position: absolute;
  width: 100vw;
  height: 100vh;
}
#profiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 50px;
}

.comparison-profile-container {
    max-width: 100%;
    margin: auto;
}

.container-fluid {
    padding-top: 70px;
  padding-bottom: 70px;
}

.main-stat-div {
  max-width: 100%;
  padding-bottom: 10px;
  background-color: #595857;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
      height: 68px;
}

.sub-stat-div {
  max-width: 100%;
  padding-bottom: 10px;
  background-color: #595857;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}
.sub-stat-div p {
  max-width: 90%;
  margin-left: 10px;
   margin: 2px;
   margin-top: 10px;
   font-size: .9em;
   padding-right: 10px;
   padding-left: 10px;
}


.unit_name {

  font-size: 1.9em;
    position: relative;
    /* top: 50px; */
    top: 0px;
    text-align: center;
    margin: 10px 0px;
}

/* this is for profile stat titles */
.card-title {
  color: #e8a855;
background-color: #3a3630;
border-right: 1px solid black;
padding-left: 5px;
margin: 0px;
}

.mainstats {
  text-align: center;
  margin: 0px;
  padding-top: 15px;
}

.star_rating {
max-width: 100px;
max-height: 30px;
padding: 0px;
}

.special-links {
  display: flex;
  flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: auto;

    max-height: 25px;
    position: relative;
    top: 80px;
    left: 0px;
    z-index: 101;
}

.rating-selector {
  position: fixed;
  z-index: 90;
    padding-top: 90px;
    top: 0;
display: flex;
flex-direction: row;
justify-content: space-around;
flex-wrap: wrap;
background-color: #212121;
    box-shadow: 0px 0px 15px black;
    width: 100%;
}

.rating-selector-groups {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.rating-selector a {
    box-shadow: 0px 0px 10px #675d55;
    flex: 1 0 auto;
    margin: 0px 2px 5px 2px;
    text-align: center;
    padding: 4px 15px;
}

.rating-selector a:hover {
color: #ec6e08;
      text-decoration: none;
      box-shadow: 0px 0px 10px #ec6e08;
}

.rating-select-scroll {
      width: -webkit-fill-available;
    padding-top: 20px;
  padding-left: 80px;
}

.sc-grid-col {

    position: relative;
    background-color: rgba(58, 58, 57, 1);
    max-height: 200px;
    max-width: 90px;
    margin-top: 10px;
    margin-left: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid #985631;
    box-shadow: 0px 0px 10px black;
    border-radius: 15px;
}
.sc-index-title {
    height: 20px;
    margin: 5px 2px 10px 2px;
    text-align: center;
}

.sc-profile-title {
  margin: 10px 2px;
  text-align: center;
  font-size: 1.5em;
}

.sc_index_pic {
    width: 90px;
}

.sc_profile_pic {
      width: 170px;
}

span {
	color: #ffc766;
	text-shadow: 1px 1px 3px #a87205;
}

.pic-input-tag {
  max-width: 200px;
}


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {


  .exit-button2 {
      top: 35px;
      right: 30px;
      width: 40px;
      height: 40px;
    }

    .sc-profile-container {
        width: 90%;
        margin: auto;
      }

  .profile-container {

      width: 90%;
      margin: auto;
  }
      .mobile {
        visibility: visible;
        height: auto;
      }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .popper {
    display: flex;
    flex-direction: row;
  }

  .comparison-profile-container {
    width: 50%;
    margin:unset;
  }
  .comparison-profile-container > .profile-container {
    flex-direction: column;
    width: 90%;
  }
  .comparison-profile-container > .profile-container > .stats-container {
    width: 90%;
    margin: auto;
  }

  .pro-img-container {
    margin:auto;
  }

  .unit-profile-title {
      font-size: 13px;
    }
  .exit-button2 {
      top: 45px;
      right: 60px;
      width: 40px;
      height: 40px;
    }

  .profile-container {
    width: 80%;
    /* padding-top: 50px; */
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    /* justify-content: space-between; */
    justify-content: center;
    right: 0px;
  }
  .sc-profile-container {
      width: 70%;
    }

  .pro-img-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      /* justify-content: space-between; */
      width: 30%;
      min-width: 390px;
    }

    .stats-container {
width: 50%;
    }

  .pro-image-full {
    visibility: visible;
    max-height: 500px;
    z-index: -1;
}

.main-cont {
    width: 90%;
    margin: auto;
  }

  .unit-grid-cols {
      height: 245px;
      width: 70px;
    }

  .profile_imgs {
      max-height: 190px;
  }

   .unit-type-cont {
      top: 155px;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {


}
