.buff_icons {
  max-width: 29px;
      /* max-height: 40px; */
          max-height: 27px;
      position: relative;
      left: 82px;
      top: 0px;
      margin-right: 10px;
}
.buff-container {
  position: absolute;
    display: flex;
    flex-direction: row;
}

span.buff_icon_name {
  color: #72cbe8 !important;
  text-shadow: 1px 1px 3px #079e97 !important;
}

span.skill_detail {
  text-shadow: 1px 1px 3px #777777 !important;
  color: #ff9e9e !important;
  font-style: italic;
}

#howtoguide {
display: flex;
flex-direction: column;
  max-width: 70%;
}
