.pro-img-container {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.hide {
  visibility: hidden;
  height: 50px;
}

.pro-image {
  max-height: 200px;
}

.mainstats-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.profile-container {
padding-top: 50px;
}

.main-profile-container {
    padding-bottom: 40px;
    padding-top: 30px;
    background-color: #595857;
    z-index: 90;
    position: absolute;
}

.main-stat-div {
  max-width: 100%;
  padding-bottom: 10px;
  background-color: #595857;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
      height: 68px;
}

.sub-stat-div {
  max-width: 100%;
  padding-bottom: 10px;
  background-color: #595857;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}


.unit_name {

  font-size: 1.9em;
    position: relative;
    top: 50px;
    text-align: center;
    margin: 10px 0px;
}

.card-title {
  color: #e8a855;
background-color: #3a3630;
border-right: 1px solid black;
padding-left: 5px;
margin: 0px;
}

.mainstats {
  text-align: center;
  margin: 0px;
  padding-top: 15px;
}

.star_rating {
max-width: 100px;
max-height: 30px;
/* padding-left: 5px; */
padding: 0px;
}

.special-links {
    position: absolute;
    top: 140px;
    text-align: center;
}

.rating-selector {
display: flex;
flex-direction: row;
justify-content: space-around;
flex-wrap: wrap;
background-color: #212121;
}
.rating-selector a {
    box-shadow: 0px 0px 10px #d26710;
    flex: 1 0 auto;
    margin: 5px;
    text-align: center;
}

.sc-cont {
    padding-left: 0px;
    padding-right: 0px;
}
.sc-cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 200px;
}

.sc-grid-col {

    position: relative;
    background-color: rgba(58, 58, 57, 1);
    max-height: 200px;
    max-width: 90px;
    margin-top: 10px;
    margin-left: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid #985631;
    box-shadow: 0px 0px 10px black;
    border-radius: 15px;
}
.sc-profile-title {
    margin: 10px 2px;
    text-align: center;
}

.sc_index_pic {
    width: 90px;
}
img {
    vertical-align: middle;
    border-style: none;
}

span {
	color: #ffc766;
	text-shadow: 1px 1px 3px #a87205;
}
