.pro-img-container {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.hide {
  visibility: hidden;
  height: 50px;
}

.pro-image-small {
  max-height: 200px;
}

.pro-image-full {
    max-height: 300px;
}

.pic-mobile {
  margin-top: 20px;
}

.mainstats-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.profile-container {
/* padding-top: 50px; */
    display: flex;
    flex-direction: column;
}

.sc-profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-profile-container {
  /* padding-bottom: 40px; */
  /* padding-top: 30px; */
  background-color: #595857;
  z-index: 90;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.main-stat-div {
  max-width: 100%;
  padding-bottom: 10px;
  background-color: #595857;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
      height: 68px;
}

.sub-stat-div {
  max-width: 100%;
  padding-bottom: 10px;
  background-color: #595857;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}
.sub-stat-div p {
  max-width: 90%;
  margin-left: 10px;
}


.unit_name {

  font-size: 1.9em;
    position: relative;
    /* top: 50px; */
    top: 0px;
    text-align: center;
    margin: 10px 0px;
}

.card-title {
  color: #e8a855;
background-color: #3a3630;
border-right: 1px solid black;
padding-left: 5px;
margin: 0px;
}

.mainstats {
  text-align: center;
  margin: 0px;
  padding-top: 15px;
}

.star_rating {
max-width: 100px;
max-height: 30px;
/* padding-left: 5px; */
padding: 0px;
}

.special-links {
    position: absolute;
    top: 50px;
    left: 40px;
    text-align: center;
    justify-content: center;
    margin-left: auto;
}

.rating-selector {
display: flex;
flex-direction: row;
justify-content: space-around;
flex-wrap: wrap;
background-color: #212121;
}
.rating-selector a {
    box-shadow: 0px 0px 10px #d26710;
    flex: 1 0 auto;
    margin: 5px;
    text-align: center;
}

.sc-cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;    /* remove this if you don't want wrapping to happen when scrolling left->right instead of top>down */
  justify-content: center;

  height: auto;
    margin-bottom: 100px;
      padding-left: 0px;
      padding-right: 0px;
}

.sc-grid-col {

    position: relative;
    background-color: rgba(58, 58, 57, 1);
    max-height: 200px;
    max-width: 90px;
    margin-top: 10px;
    margin-left: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid #985631;
    box-shadow: 0px 0px 10px black;
    border-radius: 15px;
}
.sc-index-title {
    margin: 10px 2px;
    text-align: center;
}

.sc-profile-title {
  margin: 10px 2px;
  text-align: center;
  font-size: 1.5em;
}

.sc_index_pic {
    width: 90px;
}

.sc_profile_pic {
      width: 170px;
}
img {
    vertical-align: middle;
    border-style: none;
}

span {
	color: #ffc766;
	text-shadow: 1px 1px 3px #a87205;
}
